# Practical_2: String and files

---

### Exercise 1:
Create a string variable `text` and assign it the value `"Python is amazing!"`.

```python
# Exercise 1
```

---

### Exercise 2:
Find the length of the string `"Hello, World!"` and store it in a variable `length`.

```python
# Exercise 2
```

---

### Exercise 3:
Convert the string `"python programming"` to uppercase and store it in a variable `upper_text`.

```python
# Exercise 3
```

---

### Exercise 4:
Extract the first 5 characters from the string `"Artificial Intelligence"`.

```python
# Exercise 4
```

---

### Exercise 5:
Concatenate the strings `"Hello"` and `"World"` with a space in between.

```python
# Exercise 5
```

---

### Exercise 6:
Replace the word `"dog"` with `"cat"` in the string `"The quick brown dog jumps over the lazy dog."`.

```python
# Exercise 6
```

---

### Exercise 7:
Split the string `"apple,banana,orange"` by commas and store the result in a list `fruits_list`.

```python
# Exercise 7
```

---

### Exercise 8:
Use string formatting to create the sentence `"My name is Alice and I am 25 years old."`, where the name and age are variables.

```python
# Exercise 8
```

---

### Exercise 9:
Check if the string `"python"` is present in the sentence `"I love python programming"`.

```python
# Exercise 9
```

---

### Exercise 10:
Count the number of occurrences of the letter `"e"` in the string `"Elephant is an elegant animal"`.

```python
# Exercise 10
```

---

### Exercise 11:
Remove any leading and trailing spaces from the string `"   Data Science   "`.

```python
# Exercise 11
```

---

### Exercise 12:
Convert the string `"100"` into an integer and store it in a variable `int_value`.

```python
# Exercise 12
```

---

### Exercise 13:
Extract the substring `"pro"` from the string `"programming"`.

```python
# Exercise 13
```

---

### Exercise 14:
Check if the string `"data"` starts with `"da"` and ends with `"ta"`.

```python
# Exercise 14
```

---

### Exercise 15:
Reverse the string `"machine learning"` and store the result in `reversed_text`.

```python
# Exercise 15
```

---

### Exercise 16:
Convert the first letter of each word in the string `"machine learning is fun"` to uppercase.

```python
# Exercise 16
```

---

### Exercise 17:
Create a multiline string representing a poem and store it in a variable `poem`.

```python
# Exercise 17
```

---

### Exercise 18:
Write a string to a file named `"output.txt"`.

```python
# Exercise 18
```

---

### Exercise 19:
Read the contents of a file named `"data.txt"` and print it line by line.

```python
# Exercise 19
```

---

### Exercise 20:
Check if a file `"example.txt"` exists before opening it.

```python
# Exercise 20
```

---

### Exercise 21:
Append a new line `"This is a new line"` to an existing file `"notes.txt"`.

```python
# Exercise 21
```

---

### Exercise 22:
Read the contents of a file `"log.txt"` and store each line in a list `log_lines`.

```python
# Exercise 22
```

---

### Exercise 23:
Create a new file `"report.txt"` and write the string `"Data analysis report"` to it.

```python
# Exercise 23
```

---

### Exercise 24:
Replace the word `"error"` with `"issue"` in a file `"log.txt"`.

```python
# Exercise 24
```

---

### Exercise 25:
Count the number of words in a text file `"document.txt"`.

```python
# Exercise 25
```

---

### Exercise 26:
Write a Python script that reads a file `"essay.txt"` and prints the total number of lines, words, and characters.

```python
# Exercise 26
```

---

### Exercise 27:
Copy the contents of one file `"source.txt"` to another file `"destination.txt"`.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a filename as input and returns the number of lines in the file.

```python
# Exercise 28
```

---

### Exercise 29:
Extract all the words from a text file `"article.txt"` that contain more than 5 characters.

```python
# Exercise 29
```

---

### Exercise 30:
Convert the contents of a file `"notes.txt"` to uppercase and save the result in another file `"uppercase_notes.txt"`.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python script that reads a file and removes all empty lines.

```python
# Exercise 31
```

---

### Exercise 32:
Open a file `"config.txt"` in both read and write mode.

```python
# Exercise 32
```

---

### Exercise 33:
Write a Python function that reads a file and prints the longest line in the file.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python script to count the frequency of each letter in a text file `"message.txt"`.

```python
# Exercise 34
```

---

### Exercise 35:
Write a Python script that reads a file and prints the total number of characters, excluding spaces.

```python
# Exercise 35
```

---

### Exercise 36:
Create a Python script to check whether a file is empty or not.

```python
# Exercise 36
```

---

### Exercise 37:
Write a Python function that reads a file and removes all punctuation marks from the text.

```python
# Exercise 37
```

---

### Exercise 38:
Create a Python function that writes a list of strings to a file, each string on a new line.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python script to count the number of lines that start with a specific letter (e.g., "A") in a text file.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that takes a string as input and writes it to a file `"output.txt"` in reverse order.

```python
# Exercise 40
```

---

### Exercise 41:
Write a Python script that reads a file and prints all the lines that contain the word `"Python"`.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python script that opens a file and removes all numeric digits from the file's content.

```python
# Exercise 42
```

---

### Exercise 43:
Write a Python script to find the most frequent word in a text file `"book.txt"`.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python script that reads a file and prints all the lines that contain exactly 5 words.

```python
# Exercise 44
```

---

### Exercise 45:
Write a Python script to read a file and print the first and last line of the file.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python script that checks if a file `"students.txt"` is writable.

```python
# Exercise 46
```

---

### Exercise 47:
Create a Python function that opens a file and returns the number of unique words in the file.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python script that reads a file and prints all lines in reverse order.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that reads a file and returns the most common letter in the text.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python script that reads a file and replaces every occurrence of `"Python"` with `"Java"`.

```python
# Exercise 50
```

---

# Exercise 1

In [2]:
text = "Python is amazing!"
print(text)

Python is amazing!

# Exercise 2

In [5]:
length = len("Hello,World")
print(length)

11

# Exercise 3

In [6]:
upper_text = "python programming".upper()
print(upper_text)

PYTHON PROGRAMMING

# Exercise 4

In [7]:
first_five = "Artificial Intelligence"[:5]
print(first_five)

Artif

# Exercise 5

In [8]:
greeting = "Hello" + " " + "World"
print(greeting)

Hello World

# Exercise 6

In [9]:
replaced_text = "The quick brown dog jumps over the lazy dog.".replace("dog", "cat")
print(replaced_text)

The quick brown cat jumps over the lazy cat.

# Exercise 7

In [10]:
fruits_list = "apple,banana,orange".split(",")
print(fruits_list)

['apple', 'banana', 'orange']

# Exercise 8

In [11]:
name = "Alice"
age = 25
introduction = f"My name is {name} and I am {age} years old."
print(introduction)

My name is Alice and I am 25 years old.

# Exercise 9

In [12]:
contains_python = "python" in "I love python programming"
print(contains_python)

True

# Exercise 10

In [13]:
e_count = "Elephant is an elegant animal".count("e")
print(e_count)

3

# Exercise 11

In [14]:
cleaned_string = "   Data Science   ".strip()
print(cleaned_string)

Data Science

# Exercise 12

In [15]:
int_value = int("100")
print (int_value)

100

# Exercise 13

In [16]:
substring = "programming"[0:3]
print(substring)

pro

# Exercise 14

In [17]:
word = "data"
starts_and_ends = word.startswith("da") and word.endswith("ta")
print(starts_and_ends)

True

# Exercise 15

In [18]:
reversed_text = "machine learning"[::-1]
print(reversed )

<class 'reversed'>

# Exercise 16

In [20]:
title_case = "machine learning is fun".title()

# Exercise 17

In [21]:
poem = """Roses are red,
Violets are blue,
Python is powerful,
And so are you."""

# Exercise 18

In [23]:
with open("output.txt", "w") as file:
    file.write("This is the content to write to the file.")

# Exercise 19

In [1]:
with open("data/data.txt", "r") as file:
    for line in file:
        print(line.strip())

Name,Age,Score
Alice,23,85
Bob,30,90
Charlie,25,88

# Exercise 20

In [3]:
import os

if os.path.exists("data/example.txt"):
    with open("data/example.txt", "r") as file:
        print(file.read())
else:
    print("File does not exist.")

This is an example text file used for demonstration.

# Exercise 21

In [4]:
with open("data/notes.txt", "a") as file:
    file.write("\nThis is a new line")

# Exercise 22

In [5]:
with open("data/log.txt", "r") as file:
    log_lines = file.readlines()

# Exercise 23

In [6]:
with open("data/report.txt", "w") as file:
    file.write("Data analysis report")

# Exercise 24

In [8]:
with open("data/log.txt", "r") as file:
    content = file.read()

content = content.replace("error", "issue")

with open("data/log.txt", "w") as file:
    file.write(content)

# Exercise 25

In [9]:
with open("data/document.txt", "r") as file:
    text = file.read()

word_count = len(text.split())
print("Number of words:", word_count)

Number of words: 12

# Exercise 26

In [10]:
with open("data/essay.txt", "r") as file:
    content = file.read()

lines = content.splitlines()
words = content.split()
characters = len(content)

print("Lines:", len(lines))
print("Words:", len(words))
print("Characters:", characters)

Lines: 1
Words: 10
Characters: 66

# Exercise 27

In [11]:
with open("data/source.txt", "r") as src, open("data/destination.txt", "w") as dst:
    dst.write(src.read())

# Exercise 28

In [34]:
def count_lines(filename):
    with open(filename, "r") as file:
        return len(file.readlines())

# Exercise 29

In [12]:
with open("data/article.txt", "r") as file:
    words = file.read().split()

long_words = [word for word in words if len(word) > 5]

# Exercise 30

In [13]:
with open("data/notes.txt", "r") as file:
    content = file.read().upper()

with open("data/uppercase_notes.txt", "w") as file:
    file.write(content)

# Exercise 31

In [16]:
def remove_empty_lines(file_name, output_file):
    with open(file_name, 'r') as infile:
        lines = infile.readlines()

    non_empty_lines = [line for line in lines if line.strip() != '']

    with open(output_file, 'w') as outfile:
        outfile.writelines(non_empty_lines)
        print(non_empty_lines)

remove_empty_lines("data/book.txt", "data/output.txt")

['Once upon a time in a land far away...\n', 'This is a book excerpt.\n']

# Exercise 32

In [17]:
file = open("data/config.txt", "r+")
# Don't forget to close it
file.close()

# Exercise 33

In [39]:
def print_longest_line(filename):
    with open(filename, "r") as file:
        print(max(file, key=len))

# Exercise 34

In [18]:
from collections import Counter

with open("data/message.txt", "r") as file:
    content = file.read().replace(" ", "").lower()

# Exercise 35

In [20]:
def count_characters_excluding_spaces(file_name):
    with open(file_name, 'r') as file:
        value = file.read()
        value_no_spaces = value.replace(' ', '')
        char_count = len(value_no_spaces)
        print(f"Total number of characters (spaces not included): {char_count}")

count_characters_excluding_spaces("data/book.txt")

Total number of characters (spaces not included): 51

# Exercise 36

In [42]:
import os

def is_file_empty(filename):
    return os.path.getsize(filename) == 0

# Exercise 37

In [21]:
import string

def remove_punctuation(filename):
    with open(filename, "r") as file:
        text = file.read()

    clean_text = text.translate(str.maketrans('', '', string.punctuation))
    return clean_text

# Exercise 38

In [44]:
def write_lines_to_file(lines, filename):
    with open(filename, "w") as file:
        for line in lines:
            file.write(line + "\n")

# Exercise 39

In [23]:
def count_lines_starting_with_letter(file_name, letter):
    count = 0
    with open(file_name, 'r') as file:
        for line in file:
            if line.strip().startswith(letter):
                count += 1
    print(f"Number of lines starting with '{letter}': {count}")

count_lines_starting_with_letter("data/book.txt", "O")

Number of lines starting with 'O': 1

# Exercise 40

In [49]:
def write_reversed(text):
    with open("output.txt", "w") as file:
        file.write(text[::-1])

# Exercise 41

In [24]:
def print_lines_with_python(file_name):
    with open(file_name, 'r') as file:
        for line in file:
            if "Python" in line:
                print(line.strip())

print_lines_with_python("data/book.txt")

# Exercise 42

In [25]:
def remove_digits_from_file(file_name, output_file):
    with open(file_name, 'r') as infile:
        value = infile.read()
    cleaned_value = ''.join(char for char in content if not char.isdigit())
    with open(output_file, 'w') as outfile:
        outfile.write(cleaned_value)

remove_empty_lines("data/book.txt", "data/output.txt")

['Once upon a time in a land far away...\n', 'This is a book excerpt.\n']

# Exercise 43

In [26]:
with open("data/book.txt", "r") as f:
    words = f.read().lower().split()
    most_common = Counter(words).most_common(1)[0]
print("Most frequent word:", most_common)

Most frequent word: ('a', 3)

# Exercise 44

In [27]:
def print_lines_with_five_words(file_name):
    with open(file_name, 'r') as file:
        for line in file:
            words = line.strip().split()
            if len(words) == 5:
                print(line.strip())

print_lines_with_five_words("data/book.txt")

This is a book excerpt.

# Exercise 45

In [28]:
def print_first_and_last_line(file_name):
    with open(file_name, 'r') as file:
        lines = file.readlines()

    if lines:
        print("First line:", lines[0].strip())
        print("Last line:", lines[-1].strip())
    else:
        print("The file is empty.")

print_first_and_last_line("data/book.txt")

First line: Once upon a time in a land far away...
Last line: This is a book excerpt.

# Exercise 46

In [29]:
import os

def is_file_writable(file_name):
    if os.path.exists(file_name):
        if os.access(file_name, os.W_OK):
            print(f"The file '{file_name}' is writable.")
        else:
            print(f"The file '{file_name}' is not writable.")
    else:
        print(f"The file '{file_name}' does not exist.")

is_file_writable("data/book.txt")

The file 'data/book.txt' is writable.

# Exercise 47

In [31]:
def unique_word_count(filename):
    with open(filename, "r") as f:
        words = f.read().lower().split()
    return len(set(words))

unique_word_count("data/book.txt")

12

# Exercise 48

In [32]:
def print_lines_in_reverse(file_name):
    with open(file_name, 'r') as file:
        lines = file.readlines()
    for line in reversed(lines):
        print(line.strip())

print_lines_in_reverse("data/book.txt")

This is a book excerpt.
Once upon a time in a land far away...

# Exercise 49

In [33]:
def most_common_letter(filename):
    with open(filename, "r") as f:
        letters = [c.lower() for c in f.read() if c.isalpha()]
    return Counter(letters).most_common(1)[0]

most_common_letter("data/book.txt")

('a', 7)

# Exercise 50

In [34]:
def replace_python_with_java(file_name, output_file):
    with open(file_name, 'r') as file:
        value = file.read()

    updated_value = value.replace("Python", "Java")

    with open(output_file, 'w') as file:
        file.write(updated_value)

replace_python_with_java("data/book.txt", "data/output.txt")